<header class="sidebar">
    <a href="/"><img class="titlelogo" src="/images/truefreezelogo.svg" alt="TrueFreeze"></a>
    <nav>
        <ul>
            <li>Lock Freezer</li>
            <li>View Freezers</li>
            <li>Stake & Burn</li>
            <li>CRV FACTORY LP</li>
            <li>Wrap/Unwrap ETH</li>
            <li>Documentation</li>
        </ul>
    </nav>
</header>
