<header class="sidebar">
    <!-- <h1>True Freeze</h1> -->
    <a href="/"><img src="/images/truefreezelogo.svg" alt=""></a>
    <nav>
        <ul>
            <li>Lock Freezer</li>
            <li>View Freezers</li>
            <li>Stake & Burn</li>
            <li>CRV FACTORY LP</li>
            <li>Wrap/Unwrap ETH</li>
            <li>Documentation</li>
        </ul>
    </nav>
</header>
