<header class="sidebar">
    <a href="/"><img class="titlelogo" src="/images/truefreezelogo.svg" alt="TrueFreeze"></a>
    <nav>
        <ul>
            <li>Lock Freezer</li>
            <li>View Freezers</li>
            <li>Stake & Burn</li>
            <li>CRV FACTORY LP</li>
            <li>Wrap/Unwrap ETH</li>
            <li>Documentation</li>
        </ul>
    </nav>
<br>
<div class="balance-box">
    <div>WETH: 5</div> <img src="/images/ethicon.svg" alt="">
    <br> <br>
</div>
<div class="balance-box">
    <div>frETH: 0.3454</div> <img src="/images/frethicon.svg" alt=""> 
    <br> <br>
</div>
<div class="balance-box">
    <div>FRZ: 1304239</div> <img src="/images/frzicon.svg" alt=""> 
</div>
</header>
