<header class="sidebar">
    <a href="/"><img class="titlelogo" src="/images/truefreezelogo.svg" alt="TrueFreeze"></a>
    <nav>
        <ul>
            <li id="nav-lockFreezer">Lock Freezer</li>
            <li id="nav-viewFreezers">View Freezers</li>
            <li id="nav-stakeBurn">Stake & Burn</li>
            <li id="nav-crvFactory">CRV FACTORY LP</li>
            <li id="nav-wrapUnwrapETH">Wrap/Unwrap ETH</li>
            <li id="nav-documentation">Documentation</li>
        </ul>
    </nav>
<br>
<div class="balance-box">
    <div>WETH: 5</div> <img src="/images/ethicon.svg" alt="">
    <br> <br>
</div>
<div class="balance-box">
    <div>frETH: 0.3454</div> <img src="/images/frethicon.svg" alt=""> 
    <br> <br>
</div>
<div class="balance-box">
    <div>FRZ: 1304239</div> <img src="/images/frzicon.svg" alt=""> 
</div>
</header>
