<header class="sidebar">
    <a href="/"><img class="titlelogo" src="/images/truefreezelogo.svg" alt="TrueFreeze"></a>
    <nav>
        <ul>
            <li id="nav-lockFreezer">
            <div class="navbttnwrapper">
                Lock Freezer  
                <img id="lockIcon" class="navbttnicon" src="/images/lockicon.svg" alt=""> </li>
            </div>
            <li id="nav-viewFreezers">
                <div class="navbttnwrapper">
                    View Freezers
                    <img id="fridgeIcon" class="navbttnicon" src="/images/frETHreveallottie.svg" alt=""> </li>
                    </div>
            </li>
            <li id="nav-stakeBurn">
                <div class="navbttnwrapper">
                    Stake & Burn
                    <img id="burnIcon" class="navbttnicon" src="/images/burnicon.svg" alt=""> </li>
                </div>    
                </li>
            <li id="nav-wrapUnwrapETH">
                <div class="navbttnwrapper">
                    Wrap/Unwrap ETH
                    <img id="wrapETHIcon" class="navbttnicon" src="/images/wethIcon.svg" alt=""> </li>
                </div>
                </li>
            <li id="nav-crvFactory">
                <div class="navbttnwrapper">
                    frETH/WETH <br> CRV LP
                    <img id="crvLPIcon" class="navbttnicon" src="/images/crvLP.svg" alt=""> </li>
                </div>
                </li>
    
            <li id="nav-documentation">
                <div class="navbttnwrapper">
                    Documentation
                    <img id="docIcon" class="navbttnicon" src="/images/documentation.svg" alt=""> </li>
                </div>
                </li>
        </ul>
    </nav>
<div class="balance-box">
    <div>WETH: 
    </div> 
    <div id =WETHbbBalance> 5 </div>
    <img src="/images/ethicon.svg" alt="">
    <br> <br>
</div>
<div class="balance-box">
    <div id="frETHbbLabel" class="tooltip">frETH: 
        
        <span class="tooltiptext">frETH Contract Address: 0xb4bd4628e6efb0cb521d9ec35050c75840320374</span>
    </div> 
    <div id =frETHbbBalance> 0.3454</div>
    <img src="/images/frethicon.svg" alt=""> 
    <br><br>
</div>
<div class="balance-box">
    <div id="FRZbbLabel" class="tooltip">FRZ:
    <span class="tooltiptext">FRZ Contract Address: 0x55b1e2D8b13E7acad03353FAD58fc3FA065C5822</span>
    </div> 
    <div id =FRZbbBalance>1304239 </div>
    <img src="/images/frzicon.svg" alt=""> 
</div>
</header>
