<div class="sbc-stat-sectional" >
    <span>Lifetime frETH Earnings: <span id="stat-lifetimefrETH">0</span> </span>
    <span>Lifetime WETH Earnings: <span id="stat-lifetimeWETH">0</span> </span>
    <span>Claimed frETH: <span id="stat-claimedfrETH">0</span> </span>
    <span>Claimed WETH: <span id="stat-claimedWETH">0</span> </span>
    <span>Burnt FRZ: <span id="stat-burntFRZ">0</span> </span>
</div>
