<div class="walletConnectBar">
    <div id="wallet-address" style="margin-right: 10px;">
        Address: 0x...0000  
    </div>  

    <button class="walletBttns" style="font-size: 1em;"> <img style="padding-right: 10px;" src="/images/wallet-connect.svg" alt=""> Connect Wallet</button>
</div>