@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    background: url('/images/gradientbg.png') no-repeat center center fixed;
    background-size: cover;
    transition: background 0.5s;
    background-color: rgb(89, 134, 148);
    color:honeydew;
}

.walletConnectBar {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 1.7%;
}

.walletBttns {
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    border: 4px double snow;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding: 20px;
    padding-left: 3%;
}

@media (max-width: 768px) {
    .sidebar {
      width: 20%; 
      height: auto; 
    }
    .sidebar nav ul li {
        width: max-content;
    }


  }
  

.sidebar h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    padding-top: 5%;
    margin: 20px 0 0 0;
}

.sidebar nav ul li {
    margin: 15px 0;
    padding: 10px;
    text-align: center;
    background-color: #1963a866; /* Slightly lighter blue */
    border-radius: 9px;
    cursor: pointer;
    border: 1px solid snow;
}

.sidebar nav ul li:hover {
    background-color: #1963a8c9; /* Slightly lighter blue */
}

.main-content {
    margin-left: 270px; /* Width of the sidebar + some padding */
    padding: 20px;
    flex-grow: 1;
    transition: background 0.5s;
    margin-top: 100px;
}

.mc-box {
    padding-left: 5%;
}

.content-section {
    display: none; /* Hide sections by default */
}

.balance-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.balance-box img {
    width: 15%;
}

.lander {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    width: 100vw; /* Full width of the viewport */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;
    
}

.titlelogo {
    margin-top: 3%;
}   

@keyframes moveSquare {
    0% { transform: translateX(0); }
    50% { transform: translateX(90px); }
    100% { transform: translateX(90px); opacity: 1; }
  }
  
  @keyframes fadeSquare {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes closeDoor {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50px); }
  }
  
  #square {
    animation: moveSquare 3s forwards, fadeSquare 2s forwards 3s;
    animation-delay: 2s;
  }
  
  #fridge-door {
    animation: closeDoor 2s forwards 3s;
    animation-delay: 2s;
  }
  