@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    background: url('/images/gradientbg.png') no-repeat center center fixed;
    background-size: cover;
    transition: background 0.5s;
    background-color: rgb(89, 134, 148);
    color:honeydew;
}

.walletConnectBar {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 1.7%;
    display: flex;
    align-items: center;
}

.walletBttns {
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    border: 4px double rgba(255, 250, 250, 0.69);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.69);
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding: 20px;
    padding-left: 3%;
}

@media (max-width: 768px) {
    .sidebar {
      width: 20%; 
      height: auto; 
    }
    .sidebar nav ul li {
        width: max-content;
    }


  }
  

.sidebar h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    padding-top: 5%;
    margin: 20px 0 0 0;
}

.sidebar nav ul li {
    margin: 15px 0;
    padding: 10px;
    text-align: center;
    background-color: #1963a839; /* Slightly lighter blue */
    border-radius: 9px;
    cursor: pointer;
    border: 1px solid snow;
}

.sidebar nav ul li:hover {
    background-color: #1963a8c9; /* Slightly lighter blue */
}

.main-content {
    margin-left: 270px; /* Width of the sidebar + some padding */
    padding: 20px;
    flex-grow: 1;
    transition: background 0.5s;
    margin-top: 100px;
}

.mc-box {
    padding-left: 5%;
}

.content-section {
    display: none; /* Hide sections by default */
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

.content-section.show {
    opacity: 1;
    display: block;
}

.balance-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.balance-box img {
    width: 15%;
}

.lander {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    width: 100vw; /* Full width of the viewport */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;
    
}

#doclink {
    text-decoration: none;
    color: inherit;
}

#lplink {
    text-decoration: none;
    color: inherit;
}

.titlelogo {
    margin-top: 3%;
}   

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 80%;
    margin-left: -110px; /* Use margin to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.navbttnicon {
    justify-self: center;
    align-self: center; 
    padding: 5px;
}

.navbttnwrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1em;
}

#fridgeIcon {
    max-width: 25%;
    stroke: snow ;
}

#lazy-iframe {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#lazy-iframe.loaded {
    opacity: 1;
}

@keyframes moveSquare {
    0% { transform: translateX(0); }
    50% { transform: translateX(90px); }
    100% { transform: translateX(90px); opacity: 1; }
  }
  
  @keyframes fadeSquare {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes closeDoor {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50px); }
  }
  
  #square {
    animation: moveSquare 3s forwards, fadeSquare 2s forwards 3s;
    animation-delay: 2s;
  }
  
  #fridge-door {
    animation: closeDoor 2s forwards 3s;
    animation-delay: 2s;
  }
  