@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    background: url('/images/gradientbg.png') no-repeat center center fixed;
    background-size: cover;
    transition: background 0.5s;
    background-color: rgb(89, 134, 148);
    color:honeydew;
}

.walletConnectBar {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 1.7%;
    display: flex;
    align-items: center;
}

.walletBttns {
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    border: 4px double rgba(255, 250, 250, 0.69);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.69);
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding: 20px;
    padding-left: 3%;
}

@media (max-width: 768px) {
    .sidebar {
      width: 20%; 
      height: auto; 
    }
    .sidebar nav ul li {
        width: max-content;
    }


  }
  

.sidebar h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    padding-top: 5%;
    margin: 20px 0 0 0;
}

.sidebar nav ul li {
    margin: 30px 0;
    padding: 10px;
    text-align: center;
    background-color: #1963a839; /* Slightly lighter blue */
    border-radius: 9px;
    cursor: pointer;
    border: 1px solid snow;
}

.sidebar nav ul li:hover {
    background-color: #1963a8c9; /* Slightly lighter blue */
}

.main-content {
    margin-left: 270px; /* Width of the sidebar + some padding */
    padding: 20px;
    flex-grow: 1;
    transition: background 0.5s;
    margin-top: 100px;
}

.mc-box {
    padding-left: 5%;
}

.content-section {
    display: none; /* Hide sections by default */
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

.content-section.show {
    opacity: 1;
    display: block;
}

.balance-box {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.balance-box img {
    width: 15%;
}

.lander {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    width: 100vw; /* Full width of the viewport */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;
    margin-bottom: 200px;
}

#doclink {
    text-decoration: none;
    color: inherit;
}

#lplink {
    text-decoration: none;
    color: inherit;
}

.titlelogo {
    margin-top: 3%;
}   

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: rgb(85, 85, 85, 0.95);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 500%; /* Center the tooltip */
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 5.3s; /* Ensures visibility remains hidden after opacity transitions */
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s; /* No delay when showing */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s; /* No delay when showing */
}

.tooltip .tooltiptext {
    transition-delay: 5s; /* Waits 5 seconds before starting the fade out */
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.navbttnicon {
    justify-self: center;
    align-self: center; 
    padding: 5px;
}

.navbttnwrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1em;
}

.sbc-stat-sectional {
    display: grid;
    justify-items: center;
    margin-top: 10%;
}

.sbc-input-sectional {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;;
    margin-top: 15%;
    scale: 3.5;
    font: inherit;
}


.sbc-bttn {
    background-color: transparent;
    color: white    ;
    margin-top: 15px;
    border: white 0.5px solid;
    border-radius: 9px;

}

.sbc-input {
    background-color: transparent;
    text-align: center;
    border: white 0.5px solid;
    border-radius: 9px;
    transition: border 0.3s ease-in-out;
    color: honeydew;

}

.sbc-input:focus {
    border: 1px solid honeydew ;
    outline: transparent;
}

.sbc-box-sectional {
    display: flex;
    justify-content: space-around;
}

.pageTitle h2{
    font-size: 3em;
    margin: auto;
}
.pageTitle {
    display: flex;
    justify-content: space-around;
    background-color: #1963a814; /* Slightly lighter blue */
    border: white 1px solid;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    z-index: 10;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    z-index: 5;
    display: none;
}   

.overlayWRAP {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    z-index: 5;
    display: none;
}   

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 30;
        font-weight: 400;
}

.dropdown-content a {
    color: honeydew;
    padding-right: 20px;
    padding-left: 40px;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    margin-top: 20px;
}
.dropdown-content a:hover {
    background-color: #f1f1f14a;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.yr {
    align-self: center;
    font-weight: 200;
    font-size: 1.75em;
}

#fridgeIcon {
    max-width: 25%;
    stroke: snow ;
    margin-left: 10px;
}

#lazy-iframe {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#lazy-iframe.loaded {
    opacity: 1;
}

@keyframes moveSquare {
    0% { transform: translateX(0); }
    50% { transform: translateX(90px); }
    100% { transform: translateX(90px); opacity: 1; }
  }
  
  @keyframes fadeSquare {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes closeDoor {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50px); }
  }
  
  #square {
    animation: moveSquare 3s forwards, fadeSquare 2s forwards 3s;
    animation-delay: 2s;
  }
  
  #fridge-door {
    animation: closeDoor 2s forwards 3s;
    animation-delay: 2s;
  }
 

@keyframes breathing {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .breathing-text {
    display: inline-block;
    animation: breathing 7s ease-in-out infinite;
  }
  

  #crvLPIcon {
    margin-left: 25px;
  }

  @keyframes spinAndResize {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(1.2);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  
  /* .spinningCircle {
    transform-origin: center;
    animation: spinAndResize 8s linear infinite;
    animation-delay: 0.5ms;
  } */

  .wrapper-icons {
    scale: 5;
    margin-left: 66px;
  }

  .wrapper-sectional-ETH {
    margin-top: 160px;
  }

  .wrapper-sectional-WETH {
    margin-top: 150px;
  }

  .wrapper-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
  }