<a id="doclink" href="https://deepfreezellc.gitbook.io/true-freeze" target="_blank" rel="noopener noreferrer"> <h1>Complete Documentation</h1></a>

<img  src="/images/frETH_ETH_tokenomics.png" alt="">